.rodape{
    background-color: #6278f7;
  
    
}
/*deixar a imagem responsiva*/
.rodape img {
    max-width: 100%;

}

.redessociais img{

    margin-right: 10px;

}
.organo{
    text-align: center;
}